@use "../variables.scss";
@use "../mixins.scss";
.field-number{
  display: flex;
  width: 100%;
  position: relative;
  & input{
    @include mixins.inputForm();
    width: 100%;
    @include mixins.typographyForm();
  }
  & label {
    position: absolute;
    @include mixins.typographyForm($fw:500, $fz:14px, $lh:18px);
    color: variables.$blackCoral;
    margin: 5px 16px;
  }
  &__error{
    position: absolute;
    bottom: -20px;
    right: 18px;
    z-index: 10;
    padding: 2px 8px;
    background-color: variables.$red;
    @include mixins.typographyForm($fw:500, $fz:14px, $lh:18px);
    color: variables.$white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &--error{
    & input{
      border: 2px solid variables.$red;
      outline: none;
    }
  }
}
.field-date{
  display: inline-flex;
  width: 188px;
  margin-right: 8px;
  margin-top: 8px;
  & input{
    width: 100%;
    @include mixins.inputForm();
    @include mixins.typographyForm();
  }
  & label {
    position: absolute;
    @include mixins.typographyForm($fw:500, $fz:14px, $lh:18px);
    color: variables.$blackCoral;
    margin: 5px 16px;
  }
}
.field-cvv{
  display: inline-flex;
  width: 188px;
  margin-top: 8px;
  & input{
    width: 100%;
    @include mixins.inputForm();
  }
  & label {
    position: absolute;
    @include mixins.typographyForm($fw:500, $fz:14px, $lh:18px);
    color: variables.$blackCoral;
    margin: 5px 16px;
  }
}
.field-card-holder{
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 24px;
  & input {
    width: 100%;
    @include mixins.inputForm();
    @include mixins.typographyForm();
  }
  & label {
    position: absolute;
    @include mixins.typographyForm($fw:500, $fz:14px, $lh:18px);
    color: variables.$blackCoral;
    margin: 5px 16px;
  }
}
.field-card-holder-surname{
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 8px;
  & input{
    width: 100%;
    @include mixins.inputForm();
    @include mixins.typographyForm();
  }
  & label {
    position: absolute;
    @include mixins.typographyForm($fw:500, $fz:14px, $lh:18px);
    color: variables.$blackCoral;
    margin: 5px 16px;
  }
}
.btn-submit{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$fieryRose;
  margin-top: 28px;
  color: variables.$white;
  width: 100%;
  text-align: center;
  height: 56px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  &[disabled]{
    background-color: variables.$mistyRose;
    cursor: inherit;
  }
}
.payment-footer{
  display: flex;
  margin: 50px auto 0;
  width: 375px;
  justify-content: space-between;
  &__icon{
    width: 52px;
    height: 16px;
    background-repeat: no-repeat;
    &--visa{
      background-image: url(../img/icons/visa-footer.svg);
    }
    &--verif-visa{
      height: 18px;
      background-image: url(../img/icons/verified-by-visa.svg);
    }
    &--mc{
      height: 19px;
      background-image: url(../img/icons/master-card-icon.svg);
    }
    &--mc-verif{
      height: 18px;
      background-image: url(../img/icons/surface-icon.svg);
    }
    &--pci{
      height: 18px;
      background-image: url(../img/icons/pci-icon.svg);
    }
  }
}
@media(max-width: variables.$mobile-width) {
  .field-date{
    margin-right: 4%;
    width: 48%;
  }
  .field-cvv{
    width: 48%;
  }
  .payment-footer{
    width: 100%;
    padding: 0 2%;
  }
}
