@use "variables";
@font-face {
  font-family: "Monrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff") ;
  font-display: swap;
}

@font-face {
  font-family: "Monrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff") ;
  font-display: swap;
}
body{
  font-family: Monrope, Arial, sans-serif;
  background-color: variables.$backgroundColor;
  margin:0;
}
*, *::before, *::after{
  box-sizing: border-box;
}
img {
  max-width: 100%;
  object-fit: contain;
}
a {
  text-decoration: none;
}
